* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





/* header start */
.navbar img {
    width: 200px;
}
.navbar {
    position: relative;
}

.navbar-brand img{
    width: 20%;
    height: 10%;
}

.bg-light{
    background-color: #146C94 !important;
}
#home-link{
    color: white;
    font-size: larger;
    margin-right: 10px;
}
.nav-item button{
    margin-right: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
}

#navbarNav{
    justify-content: end;
}




/* header end */

/* footer start */

.foot {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: #146C94;
    padding: 20px;
}
.paragraph a {
    text-decoration: none;
    color: white;
}
.card {
    padding: 20px;
    background-color: #146C94;
    border: #146C94;
    color: white;
}
.copy {
    text-align: center;
    color: white;
    padding: 10px;
}
footer p {
    margin: 0px;
}
.image-card img {
    margin-top: 50px;
    width: 300px;
}

@media screen and (min-width:481px) and (max-width:768px) {
    .card {
        font-size: small;

    }
    .image-card img {
        margin-top: 50px;
        width: 100%;
    }
    .foot p {
        font-size: smaller;
    }
}

@media screen and (max-width: 480px){
.foot {
    grid-template-columns: auto;
    ALIGN-CONTENT: center;
    JUSTIFY-CONTENT: center;
    TEXT-ALIGN: center;
    FONT-SIZE: smaller;
}
.foot h2 {
    font-size: large;
}
.copy {
    font-size: small;
}
}
/* footer end */

